* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.main { 
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
   align-items: center; 
   flex-wrap: wrap; 
}
.body {
   font-family: Arial, sans-serif;
   line-height: 3.5;

}

.cabecera {
   background-color: #3df8d9;
   align-items: center;
   display: flex;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 50px;
}

.navegacion {
   background-color: #72f65e;
   text-decoration: none;
   font-size: 17px;
   font-weight: 60;
   margin: 2%;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
}
.navegacion :hover{
   color: rgb(252, 246, 251);
   text-decoration: none;
   padding: 10px;

}
.section {
   height: 100vh;
   display: flex;
   justify-content: center;
   font-size: 1.5rem;
   align-items: stretch;
   flex-direction: column;
   text-align:center ;
}
.section {
   min-height: 100vh;
   background-image:url(image/canva.jpg) ;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}

.footer {
   background-color: #33a390;
   width: 100%;
   height: 50%;
   align-items: center;
   padding: 3% 3%;
   display: flex;
   justify-content: center; 
   flex-direction: column;
}

@media screen and (max-width: 768) {
   .main {
     width: 100%;
     padding: 10px;
  
   }
}
    
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
   .main{
     width: 90%;
     padding: 20px;
  
   }
}
  
@media screen and (min-width: 1025px) {
  
     .container {
     width: 100%;
     padding: 20px;
   }
}






